.movieCard {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
    transform: scale(1.05);
  }
}

.movieImage {
  height: 350px;
  object-fit: cover;
}

.movieCard:hover .movieOverlay {
  opacity: 1;
}
